.body{
     background-image: url(hatter.jpg);
}
.container{
    max-width: 1000px;
    background-color: rgb(172,243,243);
    padding: 20px;
    margin: 0 auto;
}
h1,h2{
    color: blue;
}
.kep-tarolo div img{
    width: 200px;
    border: 1px solid blue;
    box-shadow:-3px -3px 10px 5px #444444;}
}
.kep-tarolo{
    flex box:sizing 200px;
    display:flex;
    justify-content: space-between;
    border-radius: 5px;
}

